@model Hinamori.Models.UserInfo
@using Hinamori.Data.Enums

<link rel="stylesheet" href="~/css/CreateAccount/Create.css" />

<div class="create-container">

    <form class="form-container" method="post" asp-action="Create" asp-controller="CreateAccount">

        <div class="form-group">
            <label asp-for="@Model.Username">
                Username
            </label>
            <input asp-for="@Model.Username" />
            <span asp-validation-for="@Model.Username"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Email">
                Email
            </label>
            <input type='email' asp-for="@Model.Email" />
            <span asp-validation-for="@Model.Email"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Password">
                Password
            </label>
            <input type="password" asp-for="@Model.Password" />
            <span asp-validation-for="@Model.Password"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ConfirmPassword">
                Confirm Password
            </label>
            <input type="password" asp-for="@Model.ConfirmPassword" />
            <span asp-validation-for="@Model.ConfirmPassword"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.DateOfBirth">
                Date of Birth
            </label>
            <input type="date" asp-for="@Model.DateOfBirth" />
            <span asp-validation-for="@Model.DateOfBirth"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ProfilePicture">
                Profile Picture
            </label>
            <input asp-for="@Model.ProfilePicture" />
            <span asp-validation-for="@Model.ProfilePicture"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Role">
                Role
            </label>
            <select asp-items="Html.GetEnumSelectList<Roles>()">
            </select>
            <span asp-validation-for="@Model.Role"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Department">
                Department
            </label>
            <select asp-items="Html.GetEnumSelectList<Departments>()">
            </select>
            <span asp-validation-for="@Model.Department"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Semester">
                Semester
            </label>
            <select asp-items="Html.GetEnumSelectList<Semesters>()">
            </select>
            <span asp-validation-for="@Model.Semester"></span>
        </div>

        <div class="form-group">
            <div class="button-container">
                <input type="submit" value="Create" />

                <input type="reset" value="Clear" />
            </div>
        </div>
    </form>
</div>