@model Hinamori.ViewModels.LoginViewModel

<link href="~/css/LoginAccount/Login.css" rel="stylesheet" />

<div class="container">
    <form class="form-container" asp-action="Login" asp-controller="LoginAccount" method="post">
        <div class="form-group">
            <label asp-for="@Model.EmailValidation">EmailID</label>
            <input type="email" asp-for="@Model.EmailValidation" />
            <span asp-validation-for="@Model.EmailValidation"></span>
            <span>@ViewBag.ValidateEmail</span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.PasswordValidation">Password</label>
            <input type="password" asp-for="@Model.PasswordValidation" />
            <span asp-validation-for="@Model.PasswordValidation"></span>
            <span>@ViewBag.ValidatePassword</span>
        </div>

        <div class="form-group">
            <div class="btn-container">
                <input type="submit" value="Login" class="button" />
                <input type="reset" value="clear" class="button" />
            </div>
        </div>

        <div class="form-group">
            <a asp-action="Create" asp-controller="CreateAccount">Create new account</a>
        </div>
    </form>
</div>